.theHeader
 {
    
    background:none ;
    margin: auto;
    border: 10px ;
    border-color: #3AAFC5;
    width: 80%;
    text-align: center;
    height: 505%;
    max-height: auto;
    border-style: dotted;
    padding-bottom: 60px;
    
}


h2{
    font-size: 50px;
}

.List{
    background-color: #3AC596;
    font-size: 20px;
    border-color: #61D1AB;
    margin-bottom: 40px;
    
}
.List::placeholder {
    color: white;
}


#subButton{
    background-color:  #21ac7e;
    border: 2px solid #308a6c; 
    color: white;
    cursor: pointer;
    font: 20px sans-serif;
    transition-duration: 0.4s;
    text-align: center;
}

#subButton:hover{
    background-color: #318b6d; /* Green */
    color: white;
    
}

#resetBut{
    background-color:  #21ac7e;
    border: 2px solid #308a6c; 
    color: white;
    cursor: pointer;
    font: 20px sans-serif;
    text-align: center;
    transition-duration: 0.4s;
}
#resetBut:hover{
    background-color: #318b6d; /* Green */
    color: white;
}


li{
    font-size: 25px;
    list-style-position:inside;
    padding: 5px ;
    margin: 5px ;
    position: relative;
}

.theList{
    text-align: left;
    margin-left: 27%;
}

.delete{
    background-color: #3AC596; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: right;
    margin:inherit;
    
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    transition-duration: 0.4s;

}
.delete:hover{
    background-color: #319674; /* Green */
    color: white;
}
